#filters {
    background-color: transparent;
    height: 400px;
    overflow-y: auto;
    position: absolute;
    top: @header-height;
    width: @filters-width;
    z-index: @interface-z-index;

    section {
        border-top: 1px solid @foreground-color;
    }

    h2 {
        text-transform: uppercase;
    }

    h3 {
        text-transform: uppercase;
    }
}

body.list-organizations-view #filters {
    background-color: @overlay-background-color;
}

.filters-sector {
    .filters-sector-list-item.active {
        font-weight: bold;
    }
}

.filters-type {
    .filters-type-list-item.active {
        font-weight: bold;
    }
}

.help-button {
    background-color: lighten(@foreground-color, 50%);
    border-radius: 50%;
    color: @foreground-color;
    display: block;
    height: 25px;
    margin-top: 10px;
    padding-top: 2px;
    text-align: center;
    width: 25px;

    &:hover {
        color: white;
        background-color: @foreground-color;
        text-decoration: none;
    }
}
