#filters {
    .make-md-column(3);
    .filters();
    position: absolute;
    top: @header-height;
    z-index: @interface-z-index;
}

body.list-organizations-view #filters {
    background-color: @overlay-background-color;
}

body.add-organization-view #filters {
    background-color: @overlay-background-color;

    * {
        .opacity(0.3);
    }
}

body.organization-view:not(.list-organizations-view) #filters,
body.page-view #filters {
    * {
        display: none;
    }
}

.help-button {
    .opacity(.4);
    background-color: @faded-color;
    border-radius: 50%;
    color: @foreground-color;
    display: block;
    height: 25px;
    margin-top: 10px;
    padding-top: 2px;
    text-align: center;
    width: 25px;

    &:hover {
        color: white;
        background-color: @foreground-color;
        text-decoration: none;
    }
}
