header {
    .make-row();
    background-color: transparent;
    height: @header-height;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: @header-z-index;

    #logo {
        .make-md-column(3);

        a {
            .opacity(0.97);
            color: @logo-color;
            font-family: @header-font-family;
            font-size: 60px;
            font-weight: @header-font-weight;
            line-height: 44px;
            letter-spacing: -1px;
            text-transform: uppercase;
        }
    }

    #nav {
        .make-md-column(1);

        a {
            color: @foreground-color;
            font-family: @header-font-family;
            font-size: 24px;
            font-weight: @header-font-weight;
            line-height: 28px;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
    #tagline {
        .make-md-column(3);
    }
    #list-button {
        .make-md-column(1);
        color: @ui-button-color;
        text-transform: uppercase;

        &:hover {
            color: @ui-button-color;
        }
    }

    .languages {
        margin-top: 10px;

        a {
            color: @faded-color;

            &.active {
                color: @foreground-color;
                text-decoration: underline;
            }
        }
    }
}

body.add-organization-view header,
body.list-organizations-view header,
body.help-organization-types-view header,
body.page-view header {
    background-color: @overlay-background-color;
}
