header {
    .make-row();
    background-color: transparent;
    height: @header-height;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
    padding-top: @top;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: @header-z-index;

    #logo {
        .make-sm-column(3);
        padding-left: @left;
        white-space: nowrap;

        a {
            .opacity(0.95);
            color: @logo-color;
            font-family: @header-font-family;
            font-size: 60px;
            font-weight: @header-font-weight;
            line-height: 46px;
            letter-spacing: -1px;
            text-transform: uppercase;

            &:hover {
                .opacity(1);
                text-decoration: none;
            }
        }
    }

    #nav {
        .make-sm-column(1);

        a {
            color: @foreground-color;
            font-family: @header-font-family;
            font-size: 24px;
            font-weight: @header-font-weight;
            line-height: 28px;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }

    #tagline {
        .make-sm-column(3);
        font-size: 14px;
    }

    #list-button {
        background: url(../img/list.png) no-repeat 100% 100%;
        background-size: contain;
        display: block;
        height: 40px;
        position: absolute;
        right: @right;
        width: 55px;

        &:hover {
            background-image: url(../img/list_hover.png);
        }
    }

    .languages {
        margin-top: 10px;

        a {
            color: @faded-color;

            &.active {
                color: @foreground-color;
                text-decoration: underline;
            }
        }
    }
}

body.add-organization-view header,
body.list-organizations-view header,
body.help-view header,
body.page-view header {
    background-color: @overlay-background-color;
}
