#help {
    .overlay-content();
    left: 0;

    .help-header {
        color: @foreground-color;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .help-types {
        .make-row();

        &-item {
            .make-md-column(3);
            padding: 10px;

            &-name {
                font-weight: bold;
                text-align: center;

                img {
                    max-height: 100px;
                }
            }

            &-text {
                border-right: 1px solid @foreground-color;
                padding-left: 30px;
                padding-right: 30px;
                text-align: center;
            }

            &:last-child * {
                border-right: none;
            }
        }
    }

    .help-industry-types {
        .help-types-item {
            .make-md-column(2);
        }
    }
}
