.organizations-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-headers {
        .make-row();
        font-weight: bold;

        &.sort-ascending {
            .sorted::after {
                content: '\25BC';
            }
        }
        &.sort-descending {
            .sorted::after {
                content: '\25B2';
            }
        }
    }

    &-item {
        .make-row();
        cursor: pointer;
        height: 25px;
        max-height: 25px;

        &-name {
            .make-sm-column(5);
        }
        &-city {
            .make-sm-column(2);
        }
        &-state {
            .make-sm-column(1);
        }
        &-types {
            .make-sm-column(2);
        }
        &-sectors {
            .make-sm-column(2);
        }

        &:hover {
            background: #aaa;
        }
    }

    &-add-organization {
        color: @ui-button-color;
        padding-bottom: 10px;
        padding-top: 10px;

        a {
            border: 1px solid @ui-button-color;
            color: @ui-button-color;
            padding: 5px;
            text-transform: uppercase;

            &:hover {
                color: @ui-button-color;
            }
        }
    }
}

.ember-list-view {
    overflow-x: hidden !important;
    overflow-y: auto;
    position: relative;
}

.ember-list-item-view {
    position: absolute;
    width: 100%;
}
