.list-organizations-view {
    .interface-hidden-xs();
}

@media (max-width: @screen-xs-max) {
    #organizations-list-add-organization-button {
        width: 100%;
    }
}

.organizations-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-headers {
        .make-row();
        font-weight: bold;

        * {
            cursor: pointer;
        }

        &.sort-ascending {
            .sorted::after {
                content: '\25BC';
            }
        }
        &.sort-descending {
            .sorted::after {
                content: '\25B2';
            }
        }
    }

    &-item {
        .make-row();
        cursor: pointer;
        height: 25px;
        max-height: 25px;

        &-field {
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-name {
            .make-sm-column(5);
            .make-xs-column(9);
        }
        &-city {
            .make-sm-column(2);
            .hidden-xs();
        }
        &-state {
            .make-sm-column(1);
            .make-xs-column(3);
        }
        &-types {
            .make-sm-column(2);
            .hidden-xs();
        }
        &-sectors {
            .make-sm-column(2);
            .hidden-xs();
        }

        &:hover {
            color: @logo-color;
        }
    }

    &-add-organization {
        color: @logo-color;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.ember-list-view {
    overflow-x: hidden !important;
    overflow-y: auto;
    position: relative;
}

.ember-list-item-view {
    position: absolute;
    width: 100%;
}
