.news-header {
    border-bottom: 2px solid @foreground-color;
    color: @foreground-color;
    margin-top: 0;
    text-transform: uppercase;
}

.news-category-clear {
    color: lighten(@foreground-color, 20%);
    float: right;
    margin-top: 5px;
    text-transform: uppercase;
}

.news-category-header {
    border-bottom: 1px solid @foreground-color;
    color: @foreground-color;
    margin-top: 0;
    text-transform: uppercase;
}

.news-category-list {
    margin-bottom: 0;
    margin-top: 0;

    &-item {
        font-size: 16px;
        text-transform: capitalize;

        &.active {
            font-weight: bold;
        }
    }
}

.news-entry-list {
    .news-entry {
        .make-row();
        border-bottom: 1px dashed @foreground-color;
        margin-bottom: 25px;
        padding-bottom: 50px;

        &:last-of-type {
            border-bottom: none;
        }

        &-cover {
            .make-md-column(6);

            img {
                height: auto;
                max-width: 100%;
            }
        }

        &-content {
            .make-md-column(6);
        }

        &-link {
            a, a:active, a:hover {
                color: @foreground-color;
                text-transform: uppercase;
            }
        }

        &-title {
            margin-top: 0;
        }
    }
}
