.news-row {
    .make-row(0);
}

.news-header {
    border-bottom: 2px solid @foreground-color;
    margin-top: 0;
    text-transform: uppercase;

    &, & a {
        color: @foreground-color;
    }
}

.news-category-clear {
    .clear();
}

.news-category-header {
    .section-list-header();
}

.news-category-list {
    .section-list();

    &-item {
        .section-list-item();
    }
}

.news-entry-list {
    .news-entry {
        .make-row();
        border-bottom: 1px dashed @foreground-color;
        margin-bottom: 25px;
        padding-bottom: 50px;

        &:first-of-type {
            // Make a fixed-header-spacer
            margin-top: 100px;
        }

        &:last-of-type {
            border-bottom: none;
        }

        &-cover {
            .make-md-column(6);
            font-family: @news-content-font-family;
            font-size: 10px;

            iframe,
            img {
                height: auto;
                max-width: 100%;
            }
        }

        &-content {
            .make-md-column(6);
            font-family: @news-content-font-family;
            font-size: 14px;
        }

        &-link {
            a, a:active, a:hover {
                color: @foreground-color;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }

        &-preview {
            a {
                color: @logo-color;
            }
        }

        &-title {
            cursor: pointer;
            font-family: @news-header-font-family;
            font-size: 18px;
            margin-top: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.news-entry-detail {
    a {
        color: @logo-color;
    }

    .news-entry {
        &-cover {
            float: left;
            padding-right: 15px;
            width: 70%;
        }
        &-meta {
            margin-bottom: 10px;

            &-publication-date {
                font-weight: bold;
            }
        }
    }
}

.view-news-on-map {
    cursor: pointer;
}
