.organization-row {
    .make-row(0);
}

.organization-header {
    height: 200px;

    img {
        margin-bottom: 40px;
        margin-top: 40px;
        max-height: 120px;
    }
}

.organization-filters {
    .filters(false);
    padding-left: @left;
    padding-top: (@header-height - @top - 10px);
}

.organization-details {
    float: right;
    overflow-y: auto;
    padding-left: 20px;

    // Width set dynamically when screen greater than md

    @media (max-width: @screen-md-max) {
        float: none;
        padding-left: @left;
        width: 100%;
    }

    h2 {
        font-family: "Monosten C", Courier, monospace;
        font-size: 18px;
    }

    &-actions {
        margin-bottom: 25px;
    }

    &-contact {
        font-family: "Monosten A", Courier, monospace;
        font-size: 12px;
        margin-bottom: 25px;
    }

    &-media {
        margin-bottom: 25px;
    }

    &-mission-statement {
        font-family: "Monosten A", Courier, monospace;
        font-size: 14px;
    }
}
