.list-organizations-view {
    .interface-hidden-xs();
}

@media (max-width: @screen-xs-max) {
    #organizations-list-add-organization-button {
        width: 100%;
    }
}

.organizations-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-headers {
        .make-row();
        border-bottom: 1px solid @foreground-color;
        color: @faded-color;
        text-transform: uppercase;

        & > div {
            cursor: pointer;
            padding-bottom: 10px;
            padding-top: 10px;

            &:hover,
            &.sorted {
                color: @foreground-color;
            }
        }

        &.sort-ascending {
            .sorted::after {
                content: '\25BC';
            }
        }
        &.sort-descending {
            .sorted::after {
                content: '\25B2';
            }
        }
    }

    &-item {
        .make-row();
        cursor: pointer;
        height: 25px;
        max-height: 25px;

        &-field {
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-name {
            .make-xs-column(9);
            .make-sm-column(7);
            .make-md-column(5);
        }
        &-city {
            .hidden-xs();
            .make-sm-column(3);
            .make-md-column(2);
        }
        &-state {
            .make-xs-column(3);
            .make-sm-column(2);
            .make-md-column(1);
        }
        &-types {
            .hidden-xs();
            .hidden-sm();
            .make-md-column(2);
        }
        &-sectors {
            .hidden-xs();
            .hidden-sm();
            .make-md-column(2);
        }

        &:hover {
            color: @logo-color;
        }
    }

    &-add-organization {
        color: @logo-color;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.ember-list-view {
    overflow-x: hidden !important;
    overflow-y: auto;
    position: relative;
}

.ember-list-item-view {
    position: absolute;
    width: 100%;
}
