.organization-header {
    img {
        max-height: 100px;
    }
}

.organization-details {
    h2 {
        font-family: "Monosten C", Courier, monospace;
        font-size: 18px;
    }

    &-actions {
        margin-bottom: 25px;
    }

    &-contact {
        font-family: "Monosten A", Courier, monospace;
        font-size: 12px;
        margin-bottom: 25px;
    }

    &-media {
        margin-bottom: 25px;
    }

    &-mission-statement {
        font-family: "Monosten A", Courier, monospace;
        font-size: 14px;
    }
}
