.organization-header {
    img {
        max-height: 100px;
    }
}

.organization-details {
    &-actions {
        margin-bottom: 25px;
    }

    &-contact {
        margin-bottom: 25px;
    }

    &-media {
        margin-bottom: 25px;
    }
}
