#page {
    .overlay-content();
}

.page-view #page {
    left: 0;
}

.page-view {
    .interface-hidden-xs();
}

@media (max-width: @screen-xs-max) {
    #page {
        left: 0;
    }
}

.page {
    &-sections {
        .make-sm-column(3);
        .hidden-xs();
        position: fixed;

        &-header {
            border-bottom: 1px solid @foreground-color;
            color: @foreground-color;
            margin-top: 0;
            padding-bottom: 13px;
            padding-top: 13px;
            text-transform: uppercase;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;

            &-item a {
                color: @foreground-color;
            }
        }
    }

    &-content {
        .make-sm-column(9);
        .make-sm-column-offset(3);

        h1 {
            border-bottom: 2px solid @foreground-color;
            margin-top: 0;
            text-transform: uppercase;
        }
    }
}

.text-page {
    .make-row();

    .page-content {
        // Account for close button
        margin-top: -30px;
    }
}
