#popup {
    .overlay-content();
    background-color: @popup-background-color;
    left: 0;
    overflow-y: hidden;
    top: 0;
    width: @popup-width;

    .close {
        margin-right: 0;
        margin-top: 0;
    }

    .organization-header {
        .make-row();
        height: @header-height;
        text-align: center;
    }

    .organization-row {
        .make-row();
    }

    .organization-filters {
        .make-md-column(3);
    }

    .organization-details {
        .make-md-column(9);
        overflow-y: auto;
    }
}

.carousel {
    width: 100%;

    &-control {
        padding-top: 85px;
    }
}
