@import "normalize.css";
@import "lib/MyFontsWebfontsKit.css";

@background-color: rgb(235, 223, 194);
@logo-color: #BC461B;
@filters-width: 300px;
@foreground-color: #443D7E;
@faded-color: fadeout(@foreground-color, 40%);
@cream: rgb(241, 231, 205);

@overlay-background-color: fadeout(@background-color, 10%);
@interface-z-index: 2000;

@header-height: 120px;
// Bump header up so autocomplete suggestions get rendered on top of pages
@header-z-index: @interface-z-index + 1;

@popup-background-color: @overlay-background-color;
@popup-width: 55%;
// Bump popup up so it can appear on top of header. Won't block autocomplete.
@popup-z-index: @header-z-index + 1;

@ui-button-color: @logo-color;

@add-organization-font-family: "Monosten A", Courier, monospace;
@body-font-family: "Monosten D", Courier, monospace;
@header-font-family: AntiqueOliCon-Bol;
@header-font-weight: normal;
@news-content-font-family: "Monosten A", Courier, monospace;
@news-header-font-family: "Monosten C", Courier, monospace;
@subheader-font-family: "Monosten D", Courier, monospace;
@subheader-font-weight: normal;
@footer-font-family: "Monosten A", Courier, monospace;

@bottom: 15px;
@left: 40px;
@right: 40px;
@top: 15px;

// Bootstrap
@import "bower_components/bootstrap/less/variables.less";
@import "overrides/variables.less";

@import "bower_components/bootstrap/less/scaffolding.less";
@import "bower_components/bootstrap/less/utilities.less";
@import "bower_components/bootstrap/less/responsive-utilities.less";

@import "bower_components/bootstrap/less/alerts.less";
@import "bower_components/bootstrap/less/buttons.less";
@import "bower_components/bootstrap/less/carousel.less";
@import "bower_components/bootstrap/less/close.less";
@import "bower_components/bootstrap/less/forms.less";
@import "bower_components/bootstrap/less/grid.less";
@import "bower_components/bootstrap/less/mixins.less";
@import "bower_components/bootstrap/less/modals.less";
@import "bower_components/bootstrap/less/navbar.less";
@import "bower_components/bootstrap/less/navs.less";

@import "mixins.less";


body, html {
    color: @foreground-color;
    font-family: @body-font-family;
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

a, a:hover {
    color: @foreground-color;
}

h1, h2, h3, h4 {
    font-weight: @header-font-weight;
}

h1 {
    font-family: @header-font-family;
    font-size: 40px;
}

h2 {
    font-family: @subheader-font-family;
}

img {
    height: auto;
    max-width: 100%;
}

body > .ember-view {
    height: 100%;
    width: 100%;
}

.fixed-header {
    background-color: @background-color;
    position: fixed;
    top: @header-height;
    z-index: @interface-z-index;

    &-spacer {
        margin-top: 100px;
    }

    .close {
        margin-top: -54px !important;
    }
}

@import "overrides/buttons.less";
@import "overrides/carousel.less";
@import "overrides/close.less";
@import "overrides/forms.less";
@import "overrides/navs.less";
@import "contact.less";
@import "filters.less";
@import "header.less";
@import "help.less";
@import "loading.less";
@import "map.less";
@import "news.less";
@import "organization.less";
@import "organizations_add.less";
@import "organizations_list.less";
@import "page.less";
@import "popup.less";
@import "search.less";
@import "share.less";
