@import "normalize.css";

@interface-z-index: 2000;

// Bootstrap
@import "bower_components/bootstrap/less/variables.less";

// Override Bootstrap variables
@zindex-modal: @interface-z-index + 50;

@import "bower_components/bootstrap/less/scaffolding.less";
@import "bower_components/bootstrap/less/utilities.less";
@import "bower_components/bootstrap/less/responsive-utilities.less";

@import "bower_components/bootstrap/less/alerts.less";
@import "bower_components/bootstrap/less/buttons.less";
@import "bower_components/bootstrap/less/carousel.less";
@import "bower_components/bootstrap/less/close.less";
@import "bower_components/bootstrap/less/forms.less";
@import "bower_components/bootstrap/less/grid.less";
@import "bower_components/bootstrap/less/mixins.less";
@import "bower_components/bootstrap/less/modals.less";
@import "bower_components/bootstrap/less/navbar.less";
@import "bower_components/bootstrap/less/navs.less";

@import "mixins.less";


body, html {
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100%;
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

body > .ember-view {
    height: 100%;
    width: 100%;
}

@import "filters.less";
@import "map.less";
@import "page.less";
@import "popup.less";
