<header>
    <div id="logo">{{#link-to 'index'}}{{t "title"}}{{/link-to}}</div>
    <div id="search">
        {{input type="search" action="search" value=searchText placeholder="Search by name, city, state"}}
    </div>
    <nav id="nav">
        {{#link-to 'about'}}about{{/link-to}}
        {{#link-to 'contact'}}contact{{/link-to}}
    </nav>
    <div id="languages">languages</div>
</header>

<div id="map"></div>

<div id="filters">
    Filters / legend
</div>

<div id="popup">
    {{outlet popup}}
</div>

<div id="page">
    {{outlet page}}
</div>
