<header>
    <div id="logo">{{#link-to 'index'}}FCWA Map{{/link-to}}</div>
    <div id="search">search</div>
    <nav id="nav">nav</nav>
    <div id="languages">languages</div>
</header>

<div id="map"></div>

<div id="filters">
    Filters / legend
</div>

<div id="popup">
    {{outlet popup}}
</div>
