<div class="form-group">
    {{view Ember.Select class="form-control" content=sizes value=size}}
    {{input class="form-control" type="text" value=code}}
    <div id="embed-map" class="embed-map"></div>
</div>
