<div class="close" {{action 'close'}}>&times;</div>

<h1 class="help-organization-header">Organization Types</h1>
<div class="help-organization-types">
    <div class="help-organization-types-item">
        <div class="help-organization-types-item-name">
            <img src="img/advocacy.png" />
        </div>
        <div class="help-organization-types-item-text">
Aenean ac purus feugiat, sagittis lectus id, volutpat magna. Praesent nec purus ut est eleifend viverra nec non nisi. Integer bibendum urna eget leo sodales, interdum suscipit sem blandit. Nam egestas diam odio, vitae ornare justo adipiscing ut. Ut ullamcorper erat ac ipsum viverra, sit amet sollicitudin tellus mollis. Aenean blandit cursus quam. Aenean sagittis cursus est sed dictum. Aenean suscipit nisi id orci viverra, eget adipiscing turpis tincidunt.
        </div>
    </div>
    <div class="help-organization-types-item">
        <div class="help-organization-types-item-name">
            <img src="img/service.png" />
        </div>
        <div class="help-organization-types-item-text">
Aenean ac purus feugiat, sagittis lectus id, volutpat magna. Proin nec arcu in leo euismod porta a et tellus. Mauris tristique velit sit amet fringilla viverra. Maecenas nec interdum sem, vel mollis augue. Nulla sed lacus sed est feugiat volutpat. Curabitur sed neque suscipit, ullamcorper augue egestas, tristique mi. Vestibulum quis suscipit lacus, tristique convallis nibh. Nulla suscipit aliquet iaculis. Aenean sagittis cursus est sed dictum. Aenean suscipit nisi id orci viverra, eget adipiscing turpis tincidunt.
        </div>
    </div>
    <div class="help-organization-types-item">
        <div class="help-organization-types-item-name">
            <img src="img/workerscenter.png" />
        </div>
        <div class="help-organization-types-item-text">
Aenean ac purus feugiat, sagittis lectus id, volutpat magna. Ut ullamcorper erat ac ipsum viverra, sit amet sollicitudin tellus mollis. Aenean blandit cursus quam. Nulla sed lacus sed est feugiat volutpat. Curabitur sed neque suscipit, ullamcorper augue egestas, tristique mi. Vestibulum quis suscipit lacus, tristique convallis nibh. Nulla suscipit aliquet iaculis. Aenean sagittis cursus est sed dictum. Aenean suscipit nisi id orci viverra, eget adipiscing turpis tincidunt.
        </div>
    </div>
    <div class="help-organization-types-item">
        <div class="help-organization-types-item-name">
            <img src="img/union.png" />
        </div>
        <div class="help-organization-types-item-text">
Aenean ac purus feugiat, sagittis lectus id, volutpat magna. Integer bibendum urna eget leo sodales, interdum suscipit sem blandit. Ut ullamcorper erat ac ipsum viverra, sit amet sollicitudin tellus mollis. Proin nec arcu in leo euismod porta a et tellus. Maecenas nec interdum sem, vel mollis augue. Curabitur sed neque suscipit, ullamcorper augue egestas, tristique mi. Nulla suscipit aliquet iaculis. Aenean suscipit nisi id orci viverra, eget adipiscing turpis tincidunt.
        </div>
    </div>
</div>
