<div class="close" {{action 'close'}}>&times;</div>
<div class="row">
    <div class="page-sections">
        <ul>
            {{#each sections}}
            <li>
                <a href="#" {{action "scrollToSection" id bubbles="false"}}>{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{{model}}}
</div>
