<div class="organization-header">
</div>

<div class="organization-row">
    <div class="organization-filters"></div>

    <div class="organization-details">
        <div class="close" {{action 'close'}}>&times;</div>
        Sorry, there was an error while loading this organization. Please try
        again and let us know if this continues to happen.
    </div>
</div>
