<div class="organization-header">
</div>

<div class="organization-row">
    <div class="organization-filters"></div>

    <div class="organization-details loading">
        <div class="close" {{action 'close'}}>&times;</div>
        <div class="loading-indicator"></div>
    </div>
</div>
