<div class="organization-header">
</div>

<div class="organization-row">
    <div class="organization-filters"></div>

    <div class="organization-details">
        <div class="close" {{action 'close'}}>&times;</div>
        loading..........
    </div>
</div>
